.carousel-item.active img {
  border: 1px solid #28A745;
  box-shadow: 0 4px 8px #218D3A;
}

.color-box,
.size-box {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.color-box.selected,
.size-box.selected {
  border-color: #007bff;
  background-color: #e7f3ff;
}

.color-box {
  height: 30px;
  width: 30px;
}

.thumbnail-img {
  cursor: pointer;
  margin-top: 2px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-container {
  width: 100%;
}

.carousel-thumbnails {
  width: 80px;
}

.full-height {
  min-height: 80vh;
}

.small-img {
  width: 150px;
}

.empty-cart {
  display: none;
}

.div-pointer {
  cursor: pointer;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day,
.weekday {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.weekday {
  background-color: #007bff;
  color: #fff;
  cursor: default;
  font-weight: bold;
}

.day:hover {
  background-color: #007bff;
  color: #fff;
}

.day.disabled {
  background-color: #e9ecef;
  color: #adb5bd;
  cursor: not-allowed;
}

.header {
  grid-column: span 7;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.today {
  background-color: #28a745 !important;
  color: #fff;
}

.invisible {
  display: none;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.modal {
  display: block;
  position: fixed;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  .calendar {
    gap: 5px;
  }

  .day,
  .weekday {
    padding: 15px;
    font-size: 14px;
  }

  .header {
    font-size: 20px;
  }
}

@media (max-width: 576px) {

  .day,
  .weekday {
    padding: 10px;
    font-size: 12px;
  }

  .header {
    font-size: 18px;
  }
}